* {
  margin: 0;
  padding: 0;
}

/*  setting the base html styling*/

html {
  font-family: 'Barlow', sans-serif;
}

header {
  font-size: 20px;
}

/* setting the navigation bar to be fixed to the top of the screen */

nav ul {
  position: fixed;
  top: 0;
  background: white;
  padding-top: 10px;
  width: 100%;
  height: 50px;
  text-align: left;
}

/* removing the bullets from the list items */

nav ul a {
  text-decoration: none;
  color: black;
  padding: 10px 15px 10px 0;
}

nav li {
  display: inline;
  padding-left: 15px;
}

/*  setting section styling
setting height to fit in the page */

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

/* setting article styling and
width so text doesn't interfere on aside items */

article {
  color: white;
  width: 500px;
  text-align: justify;
}

/* setting the flex direction so sounds can be in a row */

aside ul {
  display: flex;
  flex-direction: row;
}

/* removing the bullets from the list items
and setting a margin */

aside ul li {
  list-style-type: none;
  margin: 10px;
}

/* setting hover black to sounds */

aside ul li a:hover {
  background-color: black;
}

h2 {
  padding-bottom: 10px;
}

/* styling background for each section */

#starwars{
  background-image: url("starwars.jpg");
}

#animal{
  background-image: url("animals.jpg");
}

#people {
  background-image: url("people.jpg");
}

/* setting font weight and size for 'Sounboard' on nav */

.Sound {
  font-weight: 900;
  font-size: 1.5em;
}

/* styling for sound class */

.sound {
  font-size:1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  border-radius: 1rem;
  margin: 1rem;
  padding: 2rem;
  text-align: center;
  color: white;
  background: #08658e;

}
